.feature-list-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  float: right;
  padding: 0px 20px;
}

.feature-list-filter-container {
    width: 250px;
}

.feature-list {
    display: flex;
}